@CHARSET "UTF-8";


#newslogo_1{
	height:50px;
	width:300px;
	background-color:yellow;
	float:right;
	margin-top:-50px;
}
#newslogo_2{
	height:50px;
	width:300px;
	background-color:blue;
}
#newslogo_span{
	height:50px;
	width:300px;
	display:block;
	line-height:50px;
	 font-size:20px;
}
