<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.dao.user.RtuMapper">
	
	<!-- getRtuList -->
	<select id="getRtuList" resultType="rtu" parameterType="rtu">
		select * from rtu
    </select>
    
	<!-- getRtu -->
	<select id="getRtu" resultType="rtu" parameterType="rtu">
		select * from rtu where id = #{id} 
    </select>
	
</mapper> 
